* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/*
    Colors
    Teal: #005F61
    Blue Green: #00589B
    Leaf Green: #789D4A
    Cool Gray: #97999B
*/

/* Start Style from here */

