* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/*
    Colors
    Teal: #005F61
    Blue Green: #00859B
    Leaf Green: #789D4A
    Cool Gray: #97999B
*/


/* Header Section */
.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    width: 100%;
    z-index: 100;
    height: 70px;
}

.navbar ul {
    margin-left: 15px;
}

.nav-item {
    margin: 0 10px;
    font-size: 1.15rem;
    font-weight: 700;
    align-self: center;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: white;
}

@media only screen and (min-width: 978px) {
    .nav-link:hover {
        border-top: 2px solid white;
    }

    .logo-collapsed {
        display: none;
    }
}

@media only screen and (max-width: 978px) {
    .navbar-brand {
        display: none;
    }

    .navbar,
    #navbarSupportedContent {
        background-color: #00849b;
    }
}

/* Hero Section */

.hero {
    background-image: url(../img/img_banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -90;
}

.hero img {
    width: 450px;
    position: absolute;
    top: 45%;
    left: 12.5%;
}

.hero h1 {
    padding: 20px 0;
    font-size: 1.75rem;
    color: white;
    width: 450px;
    position: absolute;
    top: 52%;
    left: 12.5%;
}

.hero a {
    font-size: 1.75rem;
    color: white;
    width: 350px;
    position: absolute;
    top: 60%;
    left: 12.5%;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 1.25rem;
}

.hero a:hover {
    background-color: white;
    color: #00859B;
}

.polygon {
    position: relative;
    background-color: #00849bc5;
    width: 600px;
    height: 100vh;
    left: 7.5%;
    transform: skew(15deg);
}

@media only screen and (max-width: 976px) {
    .polygon {
        visibility: hidden;
    }

    .hero img {
        left: 25%;
        transform: translate(-50%);
    }
    
    .hero h1 {
        left: 25%;
        transform: translate(-50%);
    }
    
    .hero a {
        left: 30%;
        transform: translate(-50%);
    }
} 

@media only screen and (max-width: 700px) {
    .hero img {
        left: 15%;
        transform: translate(-50%);
    }
    
    .hero h1 {
        left: 15%;
        transform: translate(-50%);
    }
    
    .hero a {
        left: 20%;
        transform: translate(-50%);
    }
}

/* Benefits Section */

#benefits {
    margin-top: -25px;
    margin-bottom: 100px;
}

#benefits h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #00859B;
}

#benefits .intro-text {
    font-size: 1.25rem;
    text-align: center;
}

.benefit-box {
    width: 250px;
    height: 250px;
    margin: 3px;
}

.benefit-box img {
    width: 80px;
}

.benefit-box img:hover {
    filter: saturate(10%) brightness(70%);
}

/* Building Section */

#building {
    height: 600px;
    margin: 10px 0 50px 0;
}

.building-dark {
    background-color: #00859B;
}

.building-dark h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    line-height: 40px;
}

.building-dark p {
    font-size: 1rem;
    color: white;
    padding-right: 10px;
    line-height: 25px;
}

.building-image {
    border: 4px solid white;
    position: relative;
    top: 12%;
    left: -5%;
    box-shadow: 2px 2px 5px #272727;
}

@media only screen and (max-width: 990px) {
    .building-image {
        position: static;
        left: 0;
        width: 100%;
        margin: 0 0 80px 0;
        box-shadow: 0 0 0 #ffffff;
    }
}

/* Steps */

#steps {
    margin: 20px;
}

.steps-header {
    font-size: 2.5rem;
    font-weight: 500;
    color: #00859B;
    text-align: center;
    padding: 10px;
    margin: 15px;
}

.steps-image {
    width: 300px;
    margin: 20px 35px;
    padding: 10px;
    float: left;
}

.steps-arrow {
    width: 250px;
    margin-bottom: 15px;
}

.steps-main {
    color: #272727;
    font-size: 1.5rem;
    margin: 15px 0;
}

.carousel {
    margin-top: 25px;
}

.carousel-item {
    padding: 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon  {
    width: 3rem;
    height: 3rem;
}

.carousel .carousel-control-prev-icon {
    background-image: url("../img/carousel_control_left.svg");
}

.carousel-control-next-icon  {
    background-image: url("../img/carousel_control_right.svg");
}

  #carouselIndicators > ol > li {
      background-color: #00859B;
      position: relative;
      top: 20px;
  }

  @media only screen and (max-width: 990px) {
    .carousel {
        margin-top: 150px;
    }
  }

  @media only screen and (max-width: 640px) {
    .carousel {
        margin-top: 200px;
    }
  }

/* Form Section */

#form {
    background-color: #97999B;
    padding: 50px 20px;
    margin-top: 40px;
}

#form h2,
#form p {
    color: white;
}

label {
    color: white;
}

.btn-form {
    background-color: #00859B;
    color: white;
}

#form .form-error-message {
    color: red;
    margin: 0;
}

/* Footer */

footer {
    background-color: #383838;
    padding: 20px 1px 1px 1px;
}

footer h2 {
    font-size: 1.15rem;
    color: white;
    margin-bottom: 10px;
}

hr.solid {
    border-top: 1px solid white;
}

.footer-link {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.footer-link > h5 > a {
    color: white;
    font-weight: 300;
}

.copyright {
    color: white;
    text-align: center;
}

@media only screen and (min-width: 990px) {
    .nav-link:hover {
        border-top: 2px solid white;
    }
}

@media only screen and (max-width: 990px) {
    .footer-link {
        border-left: 1px solid #383838;
        border-right: 1px solid #383838;
        border-bottom: 1px solid white;
    }
}